$env:MISE_CONFIG_DIR = "$HOME\.config\mise"
if (Get-Command mise -ErrorAction SilentlyContinue) {
    mise activate -q pwsh | Invoke-Expression
}

$env:SSH_AUTH_SOCK = "\\.\pipe\openssh-ssh-agent"

$extraPaths = @(
    "$HOME\.local\bin",
    "$HOME\.cargo\bin"
)

foreach ($path in $extraPaths) {
    if ((Test-Path $path) -and ($env:PATH -split ';' -notcontains $path)) {
        $env:PATH = "$path;$env:PATH"
    }
}
