# nvim config hash: {{ include "dot_config/nvim/init.lua" | sha256sum }}
{{ template "pwsh_setup" . }}
$ErrorActionPreference = "Stop"

if (Get-Command nvim -ErrorAction SilentlyContinue) {
    Log-Working "Syncing neovim plugins (lazy)..."
    & nvim --headless "+Lazy! sync" +qa
    Log-Success "Neovim plugins updated."
} else {
    Log-Info "Neovim not found. Skipping plugin sync."
}
