{{ template "pwsh_loggers" . }}

Log-Work "Sanity check for: {{ .os_id }}"
Log-Info "Headless: {{ .is_headless }}"
Log-Info "Username: {{ .username }}"
Log-Info "Email:    {{ .email }}"

{{ if eq .environment "minimal" -}}
Log-Info "Minimal environment detected. No secrets will be synced."
{{- else -}}
Log-Info "Trusted environment detected ({{ .environment }}). Ready for full setup."
{{- end }}
