**/.gitkeep

{{ if ne .chezmoi.os "windows" }}
AppData/**
Documents/**
.chezmoiscripts/windows/**
symlink_AppData_Local_nvim
{{- end }}

{{ if ne .chezmoi.os "linux" }}
.bashrc
.zshrc
.config/mpd/**
.config/lxqt/**
.chezmoiscripts/linux/**
{{- end }}

{{ if ne .environment "work" -}}
.config/git/config_work
{{- end }}
