{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-     $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isRemote := or (env "CODESPACES") (env "REMOTE_CONTAINERS") (env "SSH_CONNECTION") (env "KUBERNETES_SERVICE_HOST") (env "container") (not (not (stat "/.dockerenv"))) -}}
{{- $isWSL := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
{{- $isHeadless := or $isRemote $isWSL -}}

{{- $environment := "minimal" -}}
{{- if eq .chezmoi.hostname "PC-0024" -}}
{{-     $environment = "work" -}}
{{- else if not $isRemote -}}
{{-     $environment = "personal" -}}
{{- end -}}

{{- $profiles := dict "personal" (dict "username" "joelabreurojas" "email" "joelabreurojas@gmail.com") "work" (dict "username" "JAR-Transmandu" "email" "jabreu@transmandu.com") -}}
{{- $currentProfile := index $profiles $environment | default (index $profiles "personal") -}}

{{- $ssh_keys := dict -}}
{{- if ne $environment "minimal" -}}
  {{- $_ := set $ssh_keys "personal" "id_ed25519" -}}
  {{- if eq $environment "work" -}}
    {{- $_ := set $ssh_keys "work" "id_ed25519_work" -}}
  {{- end -}}
{{- end -}}

[data]
    os_id = {{ $osID | quote }}
    is_headless = {{ $isHeadless }}
    environment = {{ $environment | quote }}
    name = "Joel Abreu Rojas"
    username = {{ $currentProfile.username | quote }}
    email = {{ $currentProfile.email | quote }}
    ssh_keys = {{ $ssh_keys | toJson }}

[data.packages]
    linux = ["build-essential", "unzip", "git"]
    windows = ["Git.Git"]

[bitwarden]
    command = "bw"
    {{ if eq $environment "personal" -}}unlock = "auto"{{- end }}

[edit]
    apply = true

[git]
    autoCommit = {{ ne $environment "minimal" }}
    autoPush = {{ eq $environment "personal" }}

{{ if eq .chezmoi.os "windows" -}}
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
{{- end }}
