#!/bin/bash
{{ template "bash_loggers" . }}
set -euo pipefail
export PATH="$HOME/.local/bin:$PATH"

log_working "Installing Bitwarden CLI and JQ..."
mise use -g -q bitwarden-cli jq
log_success "Bitwarden CLI and JQ installed."
