{{ template "pwsh_helpers" . }}
# packages hash: {{ .packages.windows | toJson | sha256sum }}

$packages = @(
{{- range .packages.windows }}
    "{{ . }}",
{{- end }}
)

Log-Working "Syncing system packages (winget)..."

foreach ($id in $packages) {
    $null = winget list --id $id -e --accept-source-agreements
    if ($LASTEXITCODE -ne 0) {
        Log-Info "Installing $id..."
        & winget install --id $id -e --source winget --silent --accept-source-agreements --accept-package-agreements *> $null
    }
}

Log-Success "System packages sync complete."
