{{- if hasKey .ssh_keys "personal" }}
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/{{ .ssh_keys.personal }}
{{- end }}

{{- if hasKey .ssh_keys "work" }}
Host github.com-work
    HostName ssh.github.com
    User git
    AddKeysToAgent yes
    Port 443
    IdentityFile ~/.ssh/{{ .ssh_keys.work }}
{{- end }}
