{{- if ne .profile "minimal" -}}
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/{{ index .ssh_keys 0 }}
{{- end -}}

{{- if eq .profile "work" -}}
Host github.com-work
    HostName ssh.github.com
    User git
    AddKeysToAgent yes
    IdentityFile ~/.ssh/{{ index .ssh_keys 1 }}
    Port 443
{{- end -}}
