{{- if eq .chezmoi.os "windows" -}}
{
    "$help": "https://aka.ms/terminal-documentation",
    "$schema": "https://aka.ms/terminal-profiles-schema",
    "defaultProfile": "{61c54bbd-c2c6-5271-96e7-009a87ff44bf}",
    "profiles": {
        "defaults": {},
        "list": []
    },
    "schemes": [
        {
            "name": "Everforest Dark Soft",
            "background": "#2d353b",
            "foreground": "#d3c6aa",
            "cursorColor": "#d3c6aa",
            "selectionBackground": "#425047",
            "black": "#475258",
            "red": "#e67e80",
            "green": "#a7c080",
            "yellow": "#dbbc7f",
            "blue": "#7fbbb3",
            "purple": "#d699b6",
            "cyan": "#83c092",
            "white": "#d3c6aa",
            "brightBlack": "#859289",
            "brightRed": "#e67e80",
            "brightGreen": "#a7c080",
            "brightYellow": "#dbbc7f",
            "brightBlue": "#7fbbb3",
            "brightPurple": "#d699b6",
            "brightCyan": "#83c092",
            "brightWhite": "#d3c6aa"
        }
    ]
}
{{- end }}
