{{- if eq .chezmoi.os "windows" -}}
[".config/FlowLauncher/Themes/Nordbyzurg.xaml"]
    type = "file"
    url = "https://raw.githubusercontent.com/drunkzurg/FlowLauncherUI/main/Nordbyzurg.xaml"
    refreshPeriod = "168h"
{{- end }}