{{- if eq .chezmoi.os "windows" -}}
[".config/NileSoft-Shell/theme.nss"]
    type = "file"
    url = "https://raw.githubusercontent.com/MrDLingters/NordWin11/main/Nilesoft%20Shell/Rounded/theme.nss"
    refreshPeriod = "168h"
{{- end }}