Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/{{ index .ssh_keys 0 }}

{{ if .is_work -}}
Host github.com-work
    HostName ssh.github.com
    User git
    AddKeysToAgent yes
    IdentityFile ~/.ssh/{{ index .ssh_keys 1 }}
    Port 443
{{- end }}
