{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-     $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isWindows := eq .chezmoi.os "windows" -}}
{{- $ephemeral := or (env "CODESPACES") (env "REMOTE_CONTAINERS") (env "GITPOD_WORKSPACE_ID") $isWindows -}}

[data]
    name = "Joel Abreu Rojas"
    email = {{ $isWindows | ternary "joelabreurojas@transmandu.com" "joelabreurojas@gmail.com" | quote }}
    osid = {{ $osID | quote }}
    is_windows = {{ $isWindows }}
    ephemeral = {{ $ephemeral }}

[data.packages]
    linux = ["curl", "git", "build-essential", "unzip", "jq", "zsh", "ripgrep", "fd-find", "subversion"]
    windows = ["Git.Git", "Microsoft.PowerShell", "BurntSushi.ripgrep", "sharkdp.fd"]

[bitwarden]
    command = "bw"
    {{ if not $ephemeral }}unlock = "auto"{{ end }}

[edit]
    apply = true

{{- if not $ephemeral }}
[git]
    autoCommit = true
    autoPush = true
{{- end }}

{{- if $isWindows }}
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
{{- end }}
