{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-     $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isRemote := or (env "CODESPACES") (env "REMOTE_CONTAINERS") (env "SSH_CONNECTION") (env "KUBERNETES_SERVICE_HOST") (env "container") (stat "/.dockerenv") -}}

{{- $isWSL := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}

{{- $isHeadless := or $isRemote $isWSL -}}

{{- $profile := "minimal" -}}
{{- if eq .chezmoi.hostname "PC-0024" -}}
{{-     $profile = "work" -}}
{{- else if (not $isRemote) -}}
{{-     $profile = "personal" -}}
{{- end -}}

{{- $username := eq $profile "work" | ternary "JAR-Transmandu" "joelabreurojas" -}}

{{- $email := eq $profile "work" | ternary "jabreu@transmandu.com" "joelabreurojas@gmail.com" -}}

{{- $ssh_keys := list -}}
{{- if eq $profile "personal" -}}
{{-     $ssh_keys = list "id_ed25519" -}}
{{- else if eq $profile "work" -}}
{{-     $ssh_keys = list "id_ed25519" "id_ed25519_work" -}}
{{- end -}}

[data]
    os_id = {{ $osID | quote }}
    is_headless = {{ $isHeadless }}
    profile = {{ $profile | quote }}
    name = "Joel Abreu Rojas"
    username = {{ $username | quote }}
    email = {{ $email | quote }}
    ssh_keys = {{ $ssh_keys | toJson }}

[data.packages]
    linux = [
        "build-essential", "cmake", "unzip", "curl", "git", "ripgrep", "fd-find", 
        "zoxide", "lazygit", "python3-pip", "python3-venv", "libstdc++6"
    ]
    windows = [
        "Git.Git", "Microsoft.PowerShell", "BurntSushi.ripgrep", "sharkdp.fd",
        "JesseDuffield.lazygit", "LLVM.LLVM", "GnuWin32.Make", "cmake.install"
    ]

[bitwarden]
    command = "bw"
    {{ if eq $profile "personal" }}unlock = "auto"{{ end }}

[edit]
    apply = true

[git]
    autoCommit = {{ ne $profile "minimal" }}
    autoPush = {{ eq $profile "personal" }}

{{- if eq .chezmoi.os "windows" -}}
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
{{- end }}
