{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-     $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isWork := eq .chezmoi.hostname "PC-0024" -}}

{{- $isRemote := or (env "CODESPACES") (env "REMOTE_CONTAINERS") (env "SSH_CONNECTION") (env "KUBERNETES_SERVICE_HOST") (env "container") (stat "/.dockerenv") -}}

{{- $isWSL := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}

{{- $isHeadless := or $isRemote $isWSL -}}

[data]
    name = "Joel Abreu Rojas"
    username = {{ $isWork | ternary "JAR-Transmandu" "joelabreurojas" | quote }}
    email = {{ $isWork | ternary "jabreu@transmandu.com" "joelabreurojas@gmail.com" | quote }}
    os_id = {{ $osID | quote }}
    is_work = {{ $isWork }}
    is_remote = {{ $isRemote }}
    is_headless = {{ $isHeadless }}
    ssh_keys = ["id_ed25519", "id_ed25519_work"]

[data.packages]
    linux = [
        "build-essential", "cmake", "unzip", "curl", "git", "ripgrep", "fd-find", 
        "zoxide", "lazygit", "python3-pip", "python3-venv", "libstdc++6"
    ]
    windows = [
        "Git.Git", "Microsoft.PowerShell", "BurntSushi.ripgrep", "sharkdp.fd",
        "JesseDuffield.lazygit", "LLVM.LLVM", "GnuWin32.Make", "cmake.install"
    ]

[bitwarden]
    command = "bw"
    {{ if not $isRemote }}unlock = "auto"{{ end }}

[edit]
    apply = true

[git]
    autoCommit = {{ not $isRemote }}
    autoPush = {{ and (not $isWork) (not $isRemote) }}

{{- if eq .chezmoi.os "windows" -}}
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
{{- end }}
