[tools]
bat = "latest"
bitwarden = "latest"
btop = "latest"
cargo = "latest"
chezmoi = "latest"
cmake = "latest"
doggo = "latest"
fd = "latest"
fzf = "latest"
github-cli = "latest"
go = "latest"
jq = "latest"
lazygit = "latest"
lsd = "latest"
neovim = "latest"
node = "latest"
opencode = "latest"
ripgrep = "latest"
rust = "latest"
starship = "latest"
tree-sitter = "latest"
usage = "latest"
zellij = "latest"
zoxide = "latest"

{{ if eq .chezmoi.os "windows" -}}
"npm:windows-terminal" = "latest"
powershell = "latest"
{{- end }}

[settings]
experimental = true
lockfile = true
pin = true

[env]
OPENCODE_EXPERIMENTAL_BASH_DEFAULT_TIMEOUT_MS = "240000"
